SQL_DATABASE=name_data_base
SQL_USER=user_mariadb_name
WP_ADMIN_USER=user_root_name
WP_ADMIN_EMAIL=user_root@gmail.com
WP_USER_LOGIN=user_wp_name
WP_USER_EMAIL=user@gmail.com
DOMAIN_NAME=student.42.fr
#do not add above but below otherwise you will break the .env 