SQL_DATABASE=nameDataBase
SQL_PASSWORD=passwordDataBase
SQL_USER=pde-petr
SQL_ROOT_PASSWORD=pde-petr1
WP_ADMIN_USER=pde-petr_root
WP_ADMIN_PASSWORD=pde-petr_root1
WP_ADMIN_EMAIL=pde-petr_root@gmail.com
WP_USER_LOGIN=pde-petr
WP_USER_EMAIL=pde-petr@gmail.com
WP_USER_PASSWORD=pde-petr123
#do not add above but below otherwise you will break the .env 

